<%- include('partials/header.ejs'); %>

<p>Hey <%= fullName %>,</p>

<p>

Welcome to Entry Boost. You might be getting this becasue the server is just starting.

</p>



<%- include(`partials/footer.ejs`); %>